{{- define "main" }}
<div class="max-w-3xl mx-auto grid grid-cols-1 gap-8">
  <div class="flex flex-col items-start gap-4">
    <h1 class="text-4xl font-extrabold text-[#6366F1] dark:text-[#818CF8]">
      {{ .Title }}
      {{- if (.Param "ShowRssButtonInSectionTermList") }}
      {{- $rss := (.OutputFormats.Get "rss") }}
      {{- if (eq .Kind `page`) }}
      {{- $rss = (.Parent.OutputFormats.Get "rss") }}
      {{- end }}
      {{- with $rss }}
      <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round" height="23">
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
        </svg>
      </a>
      {{- end }}
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    <div class="grid gap-4">
      {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

      {{- if site.Params.ShowAllPagesInArchive }}
      {{- $pages = site.RegularPages }}
      {{- end }}

      {{- range $pages.GroupByPublishDate "2006" }}
      {{- if ne .Key "0001" }}
      <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-bold">{{- replace .Key "0001" "" }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h2>
        <div class="grid gap-2">
          {{- range .Pages.GroupByDate "January" }}
          <div class="flex flex-col gap-1">
            <h3 class="text-lg font-semibold">{{- .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h3>
            <div class="grid gap-4">
              {{- range .Pages }}
              {{- if eq .Kind "page" }}
                <div class="flex flex-col gap-2 ml-4">
                  <a
                    aria-label="post link to {{ .Title | plainify }}"
                    href="{{ .Permalink }}"
                  >
                    <h4 class="text-lg font-semibold text-[#6366F1] hover:text-[#4F46E5] dark:text-[#818CF8] dark:hover:text-[#6366F1]" >
                      {{- .Title | markdownify }}
                      {{- if .Draft }}
                      <span class="entry-hint" title="Draft">
                        <svg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" fill="currentColor">
                          <path d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
                        </svg>
                      </span>
                      {{- end }}
                    </h4>
                    <div class="flex items-center gap-4 text-gray-500 dark:text-gray-400">
                      {{- partial "post_meta.html" . -}}
                    </div>
                  </a>
                </div>
              {{- end }}
              {{- end }}
            </div>
            {{- end }}
          </div>
        </div>
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
</div>
{{- end }}{{/* end main */}}
